@import "settings";
@import "foundation";

@-webkit-keyframes heartbeat{
  0%     { -webkit-transform:scale(1,1); }
  49%    { -webkit-transform:scale(.5,.5); }
  50%    { background-color:rgba(200,0,0,.2); }
  100%   { -webkit-transform:scale(1,1); }
}
@-moz-keyframes heartbeat{
  0%     { -moz-transform:scale(1,1); }
  49%    { -moz-transform:scale(.5,.5); }
  50%    { background-color:rgba(200,0,0,.2); }
  100%   { -moz-transform:scale(1,1); }
}
@keyframes heartbeat{
  0%     { transform:scale(1,1); }
  49%    { transform:scale(.5,.5); }
  50%    { background-color:rgba(200,0,0,.2); }
  100%   { transform:scale(1,1); }
}
.heartbeat{
  width:30px;
  height:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
  background-color:rgba(200,0,0,.5);
  -webkit-animation:heartbeat .6s infinite;
  animation:heartbeat .6s infinite;
  float: left;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
