<h1>{{domain.domain_name}}</h1>
<ul class="sub-nav">
    <li><a href="..//">All Domains</a></li>
</ul>
<ul>
    <li>id: {{domain.id}}</li>
    <li>domain_name {{domain.domain_name}}</li>
    <li>current_bid {{domain.current_bid}}</li>
    <li>join_by_date {{domain.join_by_date}}</li>
    <li>bidders {{domain.bidders}}</li>
    <li>seller {{domain.seller}}</li>
    <li>extension {{domain.extension}}</li>
    <li>length {{domain.length}}</li>
    <li>words {{domain.words}}</li>
    <li>word_count {{domain.word_count}}</li>
    <li>category1 {{domain.category1}}</li>
    <li>category2 {{domain.category2}}</li>
    <li>category3 {{domain.category3}}</li>
    <li>hyphens {{domain.domain_name}}</li>
    <li>numbers {{domain.numbers | checkmark}}</li>
    <li>auction_type {{domain.auction_type}}</li>

    <button ng-click="hello('Recheck Scheduled')">Recheck Scheduled</button>
</ul>