<div lang="en" ng-controller="DomainListCtrl">
    Search: <input ng-model="query">
    Sort by:
    <select ng-model="domainProp">
        <option value="domain_name">Alphabetical</option>
        <option value="id">Newest</option>
        <option value="-id">Oldest</option>
        <option value="pagerank">Pagerank</option>
        <option value="join_by_date">Join by date</option>
    </select>
    Minimum Pagerank
    <select ng-model="pagerank">
        <option value="0">0</option>
        <option value="1" selected="selected">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>



    <div>
        <input id="dp" type="text" ng-model="mDate" name="mDate" my-datepicker/>
    </div>



    <button ng-click="doSearch()">Search</button>
    <div ng-show="processing" class="ng-hide">
        <div class="heartbeat"></div>
        <div>{{processingMessage}}</div>
    </div>
    <div><strong>{{statusMessage}}</strong></div>


    <div ng-hide="noResults" class="ng-hide">
        <h1>total domains: {{totalDomains}}</h1>

        <table role="grid">
            <tr>
                <th width="50%" scope="column">Name</th>
                <th width="20%" scope="column">Join By Date</th>
                <th width="10%" scope="column">Current Bid</th>
                <th width="10%" scope="column">Alexa Rank</th>
                <th width="10%" scope="column">Pagerank</th>
            </tr>
            <tr dir-paginate="domain in domains | itemsPerPage: 500 |  filter:query | orderBy:domainProp" total-items="totalDomains" >
                <td><a href="#/domain/{{domain.id}}">{{domain.domain_name}}</a></td>
                <td>{{ domain.join_by_date }}</td>
                <td>&dollar;{{ domain.current_bid }}</td>
                <td>{{ domain.alexa_rank | checkmark}}</td>
                <td>{{ domain.pagerank | checkmark}}</td>

            </tr>
        </table>

        <div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="/app/partials/pagination-async.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
<!--
    <ul class="domains">
        <li ng-repeat="domain in domains | filter:query | orderBy:domainProp">
            <span>{{domain.domain_name}}</span>
            <a href="#/domain/{{domain.id}}">{{domain.domain_name}}</a>
        </li>
    </ul>



    <h2>Debug</h2>
    <pre>{{domains | json}}</pre>
    <h2>Debug</h2>
    <pre>{{domains | json}}</pre>  -->

</div>